.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem $default-font-size;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0px;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
}

.cta-btn--hero {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    border-image-slice: 1;
    cursor: pointer;

    &::after {
        background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    }

    &:hover {
        -webkit-text-fill-color: $white-color;
        text-decoration: none;

        &::after {
            width: 100%;
        }
    }
}

.cta-btn--resume {
    color: $white-color;
    border: 2px solid $white-color;

    &::after {
        background: $white-color;
    }

    &:hover {
        color: $secondary-color;
        text-decoration: none;
        border: 2px solid transparent;

        &::after {
            width: 100%;
        }
    }
}

.cta-btn--tags {
    color: $white-color;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 1.4rem;
    background: $color-pink;
    border-radius: 5px;

    &:hover {
        background-color: $color-red;
    }
}

.cta-btn--filled {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // -webkit-background-clip: text;
    -webkit-text-fill-color: $white-color;
    border-style: solid;
    border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    border-image-slice: 1;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        -webkit-text-fill-color: $secondary-color;
        background-image: linear-gradient($white-color 0%, $white-color 100%);

        background-image: $white-color;
        &::after {
            width: 100%;
        }
    }
}
