#about {
    background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
    color: $white-color;
    height: 100%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding-bottom: 12%;
    padding-top: 6%;
    width: 100% !important;

    @include respond(tab-land) {
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }

    .about-wrapper {
        @include respond(phone) {
            padding-bottom: 5rem;
        }

        &__image {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;

            @include respond(tab-port) {
                padding-bottom: 6.4rem;
            }
            @include respond(tab-land) {
                height: 100%;
            }

            &-shadow {
                height: fit-content;
                width: fit-content;
                max-height: 350px;
                -webkit-animation: animate 1.5s linear infinite;
                animation: animate 1.5s linear infinite;
            }

            & img {
                border: solid 1px white;
            }
        }

        &__info {
            display: flex;
            height: 100%;
            justify-content: center;
            flex-direction: column;

            @include respond(phone) {
                align-items: center;
            }

            &-text {
                text-align: left;
                font-size: 1.85rem !important;
                text-align: justify;
                font-weight: 400;
                margin-bottom: 20px;

                @include respond(phone) {
                    font-size: 1.7rem !important;
                    font-weight: 500;
                }

                &--important {
                    background: darken($secondary-color, 1%);
                    display: inline-block;
                    font-style: italic;
                    padding: 0 0.3rem;
                    margin: 0.3rem 0;
                    line-height: 1.6;

                    @include respond(phone) {
                        display: inline;
                        margin: 0;
                        padding: 0;
                        background: transparent;
                        font-style: normal;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes animate {
    0% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 5px 20px rgba(255, 255, 255, 0);
    }
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 5px 20px rgba(255, 255, 255, 0);
    }
}
