#skills {
    padding-bottom: 10%;
    margin-bottom: 60px;
}

.skill-wrapper {
    border-style: solid;
    border-radius: 5px;
    border-color: #555;
    height: 154px;
    width: 250px;
    box-shadow: 0 1rem 2rem rgba(110, 110, 110, 0.175) !important;
    &:hover {
        box-shadow: 0 0.6rem 2.5rem rgba(110, 110, 110, 0.507) !important;
        transition: 400ms;
    }
}

.skill-icon {
    background-color: white;
    flex-grow: 1;
}

.skill-title {
    padding: 10px 20px;
    font-size: 2.5rem;
    height: 60px;
    border-top: solid 2px #555;
    background-color: rgb(2, 147, 243);
    color: white;
}
