.header-nav {
    height: 90px;
    padding: 0 25px;
    transition: all 0.5s ease;
    background-color: white;
}

.blurred {
    background-color: #00b3ff;
    backdrop-filter: blur(25px);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 20px !important;
    transition: all 0.5s ease;
    cursor: pointer;
    color: black !important;
}

.nav-link:hover,
.nav-link:focus {
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.5s ease;
}

.header-nav-scrolled {
    transition: all 0.5s ease;
    height: 70px !important;
    background-color: #1091c962;
    backdrop-filter: blur(20px);
    padding: 0px;
}

.header-nav.light .nav-link:hover,
.header-nav.light .nav-link:focus {
    background-color: rgba(21, 21, 21, 1) !important;
    color: white !important;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1200px) {
    #main-logo {
        width: auto;
        padding: 5px 0px 0px 10px;
    }
}

@media only screen and (max-width: 1200px) {
    #main-logo {
        width: auto;
        padding: 5px 0px 0px 0px;
    }
    .header-nav {
        padding: 0;
    }

    // .navbar-toggler-icon {
    //     border: none;
    //     transition: all 0.5s ease;
    // }
    .nav-link {
        padding: 25px 0 !important;
        // margin: 50;
    }
    .transparent {
        padding: 0;
        background-color: rgba(21, 21, 21, 1);
    }
}

.navbar-toggler-icon {
    font-size: 1.8rem;
}
