@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';
@import './base/loading';

@import './components/buttons';

@import './layout/header';
@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/skills';
@import './sections/experience';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';

.mx-auto {
    margin: 0 auto;
}

.my-auto {
    margin: auto 0;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #292a2d;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
}
